@model mics_project_v2._1.Models.tbl_admin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "admin", FormMethod.Post))
{
    //this is to create form tag
    @Html.AntiForgeryToken() //this is to prevent attack
                            
    @Html.ValidationSummary(true)
    if (ViewBag.Message != null)
    {
        <div style="border:1px solid red">@ViewBag.Message</div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a=>a.first_name)</td>
            <td>@Html.TextBoxFor(a=>a.first_name)</td>
            <td>@Html.ValidationMessageFor(a=>a.first_name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.password)</td>
            <td>@Html.PasswordFor(a => a.password)</td>
            <td>@Html.ValidationMessageFor(a => a.password)</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>

}

@*here we will create javascript*@



