@model mics_project_v2._1.Models.tbl_volunteer_posting

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Volunteer Posting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.content)*@
            @Html.Raw(Model.content)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.date_created)*@
            @Html.DisplayName("Today date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tbl_admin.first_name)*@
            @Html.DisplayName("Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_admin.first_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
