@model mics_project_v2._1.Models.tbl_page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@*tbl_page*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayName("Creator Name")
            @*@Html.DisplayNameFor(model => model.tbl_admin.first_name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_admin.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
