@model mics_project_v2._1.Models.tbl_newsletter

@{
    ViewBag.Title = "Details";
    //var imagePath = Path.Combine("/Images/",Model.image);
}

<h2>Details</h2>

<div>
    <h4>Newsletter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heading)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.Raw(Model.content)
            @*@Html.DisplayFor(model => model.content)*@
        </dd>
        <dt></dt>
        <dd></dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.image)*@
            @*@Html.Display("Image")*@
            @Html.DisplayName("Image")
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.image)*@
            @*<img src="@imagePath" alt="image" style="width:100px;" />*@
            <img src="~/images/@Html.DisplayFor(model=>model.image)" style="width:200px; border:10px solid #eee; " />
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.tbl_admin.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_admin.first_name)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
